<br>
<h1>
  Edison Cars
</h1>
<hr>
<div class="row">
  <div class="col-lg-12 text-right">
    Hello, Guido!
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Model F
      </div>
      <div class="panel-body text-center">
        <b>Autonomy:</b> 100km
        <br>
        <b>Top Speed:</b> 60 km/h
        <h1>AU$ 19.900</h1>
      </div>
      <div class="panel-footer text-center">
        <button class="btn btn-primary" onclick="buy('f');">
          Buy
        </button>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Model P
      </div>
      <div class="panel-body text-center">
        <b>Autonomy:</b> 150km
        <br>
        <b>Top Speed:</b> 80 km/h
        <h1>AU$ 29.900</h1>
      </div>
      <div class="panel-footer text-center">
        <button class="btn btn-primary" onclick="buy('p');">
          Buy
        </button>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Model H
      </div>
      <div class="panel-body text-center">
        <b>Autonomy:</b> 250km
        <br>
        <b>Top Speed:</b> 120 km/h
        <h1>AU$ 49.900</h1>
      </div>
      <div class="panel-footer text-center">
        <button class="btn btn-primary" onclick="buy('h');">
          Buy
        </button>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row" id="info_container" style="display: none;">
  <div class="col-lg-12">
    <div class="alert alert-success" role="alert">
      <div id="info"></div>
    </div>
  </div>
</div>
<hr>
